<div class="container mt-4">
  <h1>Editing recipe</h1>

  <%= turbo_frame_tag nested_dom_id(@recipe, 'edit') do %>
    <%= render "form", recipe: @recipe %>
  <% end %>

  <br>
  
  <%= link_to "Show this recipe", @recipe %>
  <%= link_to "Back to recipes", recipes_path %>
</div>