<div id="notifications-count">
  <% if count > 0 %>
    <span class="indicator d-block position-absolute text-center rounded-circle">
      <%= count > 9 ? "+9" : count  %>
    </span>
  <% end %>
</div>