.avatar{
  display: inline-block;
  position: relative;
  width: 10rem;
  min-width: 10rem;
  height: 10rem;
  text-align: center;
  border: #dee2e6;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
  line-height: 10rem;

  img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

.total-likes-icon{
  background: #E4E9FE;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  i{
    padding-top: 4px;
    color: #5169F7;
    font-size: 1.5rem;
  }
}